.header {
    top: 0;
    width: 100vw;
    height: 100px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.link-grid {
    right: 0;
    width: auto;
    height: auto;
    font-size: 22px;
    position: relative;
    padding-top: 300px;
    
}

.link-grid {
 display: none;
}

.menu:hover .link-grid{
 
  display: block
  
   
}


.menu {
  flex: wrap;
  flex-direction: column;
  display: inline-block;
  position: absolute;
  width: 56px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 62px;
  font-family:'Josefin Sans', sans-serif;
  color:black;
  cursor: pointer;
}


.menu::before,
.menu::after {
  position: absolute;
  top: 50px;
  transition: 0.7s ease;
  opacity: 0;
  pointer-events: none;
}




.menu:before {
  content: "M \00a0 \00a0 \ U";
  top: -60px;
  left: -100%;
  width: 215px;
}
.menu:after {
  content: "N";
  top: 50px;
  left: 96%;
}
.menu:hover::before,
.menu:hover::after {
  top: -17px;
  opacity: 1;
  transition: 0.2s ease, opacity 0.17s 0.03s ease-in;
}

.bar {
  width: 70%;
  height: 3px;
  background: black;
  margin: 0 auto 18px;
  transition: transform 0.7s ease;
}

.menu:hover .bar {
  transform: rotate(-10deg);
 }

 