@import "/variables";
@import "/header-site";
@import "/hero";
@import "/techno";
@import "/header-mobile";

body {
  background: url("/assets/space.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.universal {
  height: 100vh;
  width: 100vh;
}
